-- CreateEnum
CREATE TYPE "TutorLeadAttendance" AS ENUM ('ATTENDED', 'NOT_ATTENDED');

-- CreateEnum
CREATE TYPE "QuotationStatus" AS ENUM ('DRAFT', 'GENERATED');

-- AlterEnum
BEGIN;
CREATE TYPE "LeadDistributionMethod_new" AS ENUM ('ROUND_ROBIN', 'SALES_HEAD_MANUAL', 'COUNSELLOR_SELF_ASSIGNED', 'REFERRAL_SELF_ASSIGNED', 'ROUND_ROBIN_PAUSED', 'REOPEN_OWNER_RESTORED');
ALTER TABLE "lead_distribution_events" ALTER COLUMN "assignment_method" TYPE "LeadDistributionMethod_new" USING ("assignment_method"::text::"LeadDistributionMethod_new");
ALTER TYPE "LeadDistributionMethod" RENAME TO "LeadDistributionMethod_old";
ALTER TYPE "LeadDistributionMethod_new" RENAME TO "LeadDistributionMethod";
DROP TYPE "LeadDistributionMethod_old";
COMMIT;

-- DropForeignKey
ALTER TABLE "tutor_interviews" DROP CONSTRAINT "tutor_interviews_conducted_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "tutor_interviews" DROP CONSTRAINT "tutor_interviews_recruitment_id_fkey";

-- DropForeignKey
ALTER TABLE "tutor_profiles" DROP CONSTRAINT "tutor_profiles_source_recruitment_id_fkey";

-- DropForeignKey
ALTER TABLE "tutor_recruitment" DROP CONSTRAINT "tutor_recruitment_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "tutor_recruitment" DROP CONSTRAINT "tutor_recruitment_employee_id_fkey";

-- DropForeignKey
ALTER TABLE "tutor_recruitment_stages" DROP CONSTRAINT "tutor_recruitment_stages_entered_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "tutor_recruitment_stages" DROP CONSTRAINT "tutor_recruitment_stages_recruitment_id_fkey";

-- DropIndex
DROP INDEX "tutor_profiles_source_recruitment_id_key";

-- AlterTable
ALTER TABLE "communication_languages" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "lead_distribution_events" ADD COLUMN     "daily_distribution_order" INTEGER NOT NULL,
ADD COLUMN     "is_reassignment" BOOLEAN NOT NULL DEFAULT false,
ALTER COLUMN "received_at" DROP NOT NULL,
ALTER COLUMN "assignment_latency_ms" DROP NOT NULL;

-- AlterTable
ALTER TABLE "mother_tongues" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "requirements" ADD COLUMN     "monthly_hours" DECIMAL(10,2);

-- AlterTable
ALTER TABLE "tutor_lead_availability" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "start_time" SET DATA TYPE TIME,
ALTER COLUMN "end_time" SET DATA TYPE TIME;

-- AlterTable
ALTER TABLE "tutor_lead_calls" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "remark" SET NOT NULL;

-- AlterTable
ALTER TABLE "tutor_lead_demos" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "demo_date" SET DATA TYPE DATE,
ALTER COLUMN "start_time" SET DATA TYPE TIME,
ALTER COLUMN "end_time" SET DATA TYPE TIME;

-- AlterTable
ALTER TABLE "tutor_lead_stage_history" ALTER COLUMN "id" DROP DEFAULT;

-- AlterTable
ALTER TABLE "tutor_lead_training_sessions" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "session_date" SET DATA TYPE DATE,
ALTER COLUMN "start_time" SET DATA TYPE TIME,
ALTER COLUMN "end_time" SET DATA TYPE TIME,
DROP COLUMN "attendance_status",
ADD COLUMN     "attendance_status" "TutorLeadAttendance" NOT NULL,
ALTER COLUMN "task_status" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "tutor_leads" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- AlterTable
ALTER TABLE "tutor_profiles" DROP COLUMN "source_recruitment_id",
ADD COLUMN     "source_tutor_lead_id" TEXT;

-- AlterTable
ALTER TABLE "tutor_salary_slabs" ALTER COLUMN "id" DROP DEFAULT,
ALTER COLUMN "updated_at" DROP DEFAULT;

-- DropTable
DROP TABLE "tutor_interviews";

-- DropTable
DROP TABLE "tutor_recruitment";

-- DropTable
DROP TABLE "tutor_recruitment_stages";

-- DropEnum
DROP TYPE "TutorLeadAttendanceStatus";

-- DropEnum
DROP TYPE "TutorRecruitmentStageCode";

-- DropEnum
DROP TYPE "TutorRejectionReason";

-- CreateTable
CREATE TABLE "lead_distribution_daily_sequence" (
    "date" DATE NOT NULL,
    "next_number" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "lead_distribution_daily_sequence_pkey" PRIMARY KEY ("date")
);

-- CreateTable
CREATE TABLE "tutor_salary_slab_subjects" (
    "slab_id" TEXT NOT NULL,
    "subject_id" TEXT NOT NULL,

    CONSTRAINT "tutor_salary_slab_subjects_pkey" PRIMARY KEY ("slab_id","subject_id")
);

-- CreateTable
CREATE TABLE "tutor_salary_slab_grades" (
    "slab_id" TEXT NOT NULL,
    "grade_id" TEXT NOT NULL,

    CONSTRAINT "tutor_salary_slab_grades_pkey" PRIMARY KEY ("slab_id","grade_id")
);

-- CreateTable
CREATE TABLE "pricing_slabs" (
    "id" TEXT NOT NULL,
    "business_id" TEXT NOT NULL,
    "curriculum_id" TEXT NOT NULL,
    "grade_from" INTEGER NOT NULL,
    "grade_to" INTEGER NOT NULL,
    "hourly_rate" DECIMAL(10,2) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" TEXT,
    "updated_by" TEXT,

    CONSTRAINT "pricing_slabs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "exceptional_subject_rates" (
    "id" TEXT NOT NULL,
    "business_id" TEXT NOT NULL,
    "subject_id" TEXT NOT NULL,
    "hourly_rate" DECIMAL(10,2) NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" TEXT,
    "updated_by" TEXT,

    CONSTRAINT "exceptional_subject_rates_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance_settings" (
    "id" TEXT NOT NULL,
    "registration_fee" DECIMAL(10,2) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'AED',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "updated_by" TEXT,

    CONSTRAINT "finance_settings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quotations" (
    "id" TEXT NOT NULL,
    "quotation_number" TEXT NOT NULL,
    "student_id" TEXT NOT NULL,
    "lead_id" TEXT NOT NULL,
    "quotation_date" TIMESTAMP(3) NOT NULL,
    "currency" TEXT NOT NULL DEFAULT 'AED',
    "status" "QuotationStatus" NOT NULL DEFAULT 'DRAFT',
    "student_name" TEXT NOT NULL,
    "curriculum_name" TEXT NOT NULL,
    "grade_name" TEXT NOT NULL,
    "normal_monthly_total" DECIMAL(10,2) NOT NULL,
    "offer_hourly_rate" DECIMAL(10,2),
    "offer_monthly_total" DECIMAL(10,2),
    "saving_amount" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "saving_percentage" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "registration_fee" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "total_amount_due" DECIMAL(10,2) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT NOT NULL,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "quotations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "quotation_line_items" (
    "id" TEXT NOT NULL,
    "quotation_id" TEXT NOT NULL,
    "subject_id" TEXT NOT NULL,
    "subject_name" TEXT NOT NULL,
    "monthly_hours" DECIMAL(10,2) NOT NULL,
    "original_hourly_rate" DECIMAL(10,2) NOT NULL,
    "applied_offer_hourly_rate" DECIMAL(10,2),
    "normal_monthly_amount" DECIMAL(10,2) NOT NULL,
    "offer_monthly_amount" DECIMAL(10,2),

    CONSTRAINT "quotation_line_items_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "pricing_slabs_business_id_key" ON "pricing_slabs"("business_id");

-- CreateIndex
CREATE INDEX "pricing_slabs_curriculum_id_is_active_idx" ON "pricing_slabs"("curriculum_id", "is_active");

-- CreateIndex
CREATE UNIQUE INDEX "exceptional_subject_rates_business_id_key" ON "exceptional_subject_rates"("business_id");

-- CreateIndex
CREATE UNIQUE INDEX "exceptional_subject_rates_subject_id_key" ON "exceptional_subject_rates"("subject_id");

-- CreateIndex
CREATE INDEX "exceptional_subject_rates_subject_id_is_active_idx" ON "exceptional_subject_rates"("subject_id", "is_active");

-- CreateIndex
CREATE UNIQUE INDEX "quotations_quotation_number_key" ON "quotations"("quotation_number");

-- CreateIndex
CREATE INDEX "quotations_student_id_idx" ON "quotations"("student_id");

-- CreateIndex
CREATE INDEX "quotations_lead_id_idx" ON "quotations"("lead_id");

-- CreateIndex
CREATE INDEX "quotations_quotation_number_idx" ON "quotations"("quotation_number");

-- CreateIndex
CREATE INDEX "quotation_line_items_quotation_id_idx" ON "quotation_line_items"("quotation_id");

-- CreateIndex
CREATE INDEX "tutor_lead_calls_tutor_lead_id_idx" ON "tutor_lead_calls"("tutor_lead_id");

-- CreateIndex
CREATE INDEX "tutor_lead_demos_tutor_lead_id_idx" ON "tutor_lead_demos"("tutor_lead_id");

-- CreateIndex
CREATE INDEX "tutor_lead_training_sessions_tutor_lead_id_idx" ON "tutor_lead_training_sessions"("tutor_lead_id");

-- CreateIndex
CREATE UNIQUE INDEX "tutor_profiles_source_tutor_lead_id_key" ON "tutor_profiles"("source_tutor_lead_id");

-- CreateIndex
CREATE UNIQUE INDEX "tutor_salary_slabs_name_key" ON "tutor_salary_slabs"("name");

-- AddForeignKey
ALTER TABLE "tutor_profiles" ADD CONSTRAINT "tutor_profiles_source_tutor_lead_id_fkey" FOREIGN KEY ("source_tutor_lead_id") REFERENCES "tutor_leads"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tutor_salary_slab_subjects" ADD CONSTRAINT "tutor_salary_slab_subjects_slab_id_fkey" FOREIGN KEY ("slab_id") REFERENCES "tutor_salary_slabs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tutor_salary_slab_subjects" ADD CONSTRAINT "tutor_salary_slab_subjects_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "subjects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tutor_salary_slab_grades" ADD CONSTRAINT "tutor_salary_slab_grades_slab_id_fkey" FOREIGN KEY ("slab_id") REFERENCES "tutor_salary_slabs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "tutor_salary_slab_grades" ADD CONSTRAINT "tutor_salary_slab_grades_grade_id_fkey" FOREIGN KEY ("grade_id") REFERENCES "grades"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pricing_slabs" ADD CONSTRAINT "pricing_slabs_curriculum_id_fkey" FOREIGN KEY ("curriculum_id") REFERENCES "curricula"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "exceptional_subject_rates" ADD CONSTRAINT "exceptional_subject_rates_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "subjects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotations" ADD CONSTRAINT "quotations_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "students"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotations" ADD CONSTRAINT "quotations_lead_id_fkey" FOREIGN KEY ("lead_id") REFERENCES "leads"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotations" ADD CONSTRAINT "quotations_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotation_line_items" ADD CONSTRAINT "quotation_line_items_quotation_id_fkey" FOREIGN KEY ("quotation_id") REFERENCES "quotations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "quotation_line_items" ADD CONSTRAINT "quotation_line_items_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "subjects"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

